<h1> List of Houses for Rent </h1>
<ul>
  <lu><% @housings.each do |housing| %></li>
  <lu><%= link_to housing.type_of_housing house_path(@housing) %>
      <%= housing.city %> 
      <%= housing.state %>
      <%= housing.price %>
      <%= housing.availability_date %>
      <%= housing.contact_number %>
      <%= housing.contact_email %>
  <li><% end %></li>
</ul>
