
<li><%= link_to housing.type_of_housing house_path(@housing) %>
      <%= housing.city %> 
      <%= housing.state %>
      <%= housing.price %>
      <%= housing.availability_date %>
      <%= housing.contact_number %>
      <%= housing.contact_email %>
</li>
