<div class="row">
  <div class="small-6 large-6 columns">
    <h1> List of Houses for Rent </h1>
    <ul>
      <lu><% @housings.each do |housing| %></li>
      <lu><%= link_to housing.type_of_housing house_path(@housing) %>
          <%= housing.city %> 
          <%= housing.state %>
          <%= housing.price %>
          <%= housing.availability_date %>
          <%= housing.contact_number %>
          <%= housing.contact_email %>
      <li><% end %></li>
    </ul>
      <%= paginate @housings %>
  </div>

  <div class="small-6 large-6 columns">

    <h1> List of Jobs </h1>
    <ul>
      <lu><% @jobs.each do |job| %></li>
      <lu><%= link_to job.job_title, job_path(job) %>
      <li><% end %></li>
    </ul>
    <%= paginate @jobs %>
  </div>

  <div>
    <%= simple_form_for [@user, @call_list] do |f| %>
      <%= f.input :phone_number %>
      <%= f.input :reason, collection: [ 'Homes', 'Jobs', 'Both'] %>
      <%= f.button :submit %>
      <% end %>

  </div>
</div>

