<div class="row">

  <div class="small-6 large-6 columns">
    <h1> HOUSE LISTINGS </h1>
    <ul>
      <% @housings.each do |housing| %>
          <li><%= link_to "#{housing.type_of_housing}, #{housing.city} #{housing.state}", housing_path(housing) %></li>
          <% end %>
    </ul>
      <%= paginate @housings, :remote => true %>
  </div>

  <div class="small-6 large-6 columns">
    <h1> JOB LISTINGS </h1>
    <ul>
      <% @jobs.each do |job| %>
      <li><%= link_to "#{job.job_title}, #{job.location}", job_path(job) %></li>
      <% end %>
    </ul>
    <%= paginate @jobs, :remote => true %>
  </div >
</div>
  <div class='small-8 columns'>
    <%= simple_form_for [@user, @call_list], remote: true do |f| %>
      <%= f.input :phone_number, placeholder: '6175555555' %>
      <%= f.input :reason, collection: [ 'Homes', 'Jobs', 'Both'] %>
      <%= f.button :submit, class: "sign-up-button" %>
      <% end %>
  </div>


